<div class="jumbotron">
    <h1>Vocabulary test</h1>
    <p class="lead">I detta program skapar du glosövningar för att lära dig språk. Övningarna hittar du i olika appar och på webbsidor</p>

</div>

<div>
    <img src="~/Images/books.png" />
</div>

