@model Glostest.WordGroup

@{
    ViewBag.Title = "Delete";
}

<h2>Radera</h2>

<h3>Är du säker på att du vill radera övningen?</h3>
<h4  class="alert-danger">Det går inte att ångra den här åtgärden</h4>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.Label("Övning:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Radera" class="btn btn-default" /> |
            @Html.ActionLink("Tillbaka till listan", "Index")
        </div>
    }
</div>
